
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div >
  <ion-card class="main-container" >
    <ion-grid>
      <ion-row>
          <ion-col 
            size="12" 
            size-xs="12"
            size-sm="6"
            size-md="4"
            size-lg="3"
            >
                <div class="login-page" >
                
                        <div class="landing-container">
    
                              <ion-card >
                          
                                <img class="splash" ion-card-image src="../../assets/images/domore.jpg">
                                <ion-card-content class="card-content">
                               
                                 
                                   <h2> Speed of a To-Do List ✓</h2> 
                                    <h2>Multi-level prioritization ✓</h2>
                                     <h2>Time-blocking ✓</h2>
                                     <h2>More time on your hands! ✓</h2>
                                  
                                </ion-card-content>
                                <ion-row>
                                  <ion-col>
                                    <div class="sign-in">
                                      <img ion-card-image src="../../assets/images/signin-button-dark.png" (click)="signIn()">
                                      </div>
                                  </ion-col>
                                
                                </ion-row>
                              </ion-card>
                        
                          </div>
    
    
                </div>
           </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
</div>













