
<script src="https://apis.google.com/js/platform.js" async defer></script>

  <ion-card class="main-container" >

                
                        <div class="landing-container">

                                
                                <div class="bg">

                                </div>
                               
                                <div class="content">
                               
                                 <div class="slide-right">
                                    <h2> Speed of a To-Do List ✓</h2> 
                                    <h2>Multi-level prioritization ✓</h2>
                                    <h2>Time-blocking ✓</h2>
                                    <h2>More time on your hands! ✓</h2>
                                 </div>
                              

                                     <div class="sign-in">
                                      <img src="../../assets/images/signin-button-dark.png" (click)="signIn()">
                                    </div>
                                  
                                </div>
                             
                                  
                             
                        
                          </div>
    
    
              
    

  </ion-card>












