.main-container {
  background-color: rgb(218, 176, 98);
  background-color: rgb(218, 176, 98);
  background-image:
    linear-gradient(
      rgb(218, 176, 98), #f06d06
    );
  height: auto;
}

.landing-container {
  width: auto;
  display: flex;
  justify-content: center;
  height: 97vh;


  img.splash {
    height:  47vh;
    width: 100vh;

  }
}

ion-card {
  margin: 0 auto 0 auto;
  background-color: white;
  width: 100%;
  border: none;
  height: auto;
  

  .card-content {
    display: block;
    // margin: 2em auto;
    // width: 20em;
    font-size: 2.5rem;
    text-align: center;
    margin-top: .5rem;

    
 
  }

  img {
    width: 100%;
  }
}

button {
  width: 100%;
  height: auto;
  margin-bottom: 1.2rem;

  // background-color: orange;
}

.sign-in {
  display: flex;
  justify-content: center;

  img {
    
    border-radius: 3%;
  }

  div {
    font-size: 1em;
  }
}
.sign-in-med {
  display: flex;
  justify-content: center;
  margin-right: 3em;
  img {
    margin-right: 5em;
  }
}
.material-icons {
  font-size: 8em;
}

ion-card.small-card {
  // position: absolute;
  max-width: 400px;
  width: 400px;
  // top: 15%;
  // left: 38%;
  margin-right: 25em;
  margin-top: 10%;
  height: 100%;
}


.small-login {
  font-size: 1.5rem;
}
