@import "../../../animations";



.main-container {
  height: 100vh;
  
}

.landing-container {
  display: block;
  height: 100vh;
  position: relative;
 


}


  
  .bg {

    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;

    background-color: rgb(218, 176, 98);
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3), #4d4138
    ),
      url("../../../assets/images/girlonphone.png");
    
    position: absolute;
    padding: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
    top: -2%;
   
    
    @include fade-in;
  }

  .content {
    display: block;
    position: relative;
    top: 58%;
    font-size: 2.5rem;
    text-align: center;
    margin-top: .5rem;
    color: white;

    
 
  }


button {
  width: 100%;
  height: auto;
  margin-bottom: 1.2rem;

  // background-color: orange;
}

.sign-in {
  display: flex;
  justify-content: center;

  img {
    
    border-radius: 3%;
    width: 75%;
  }

  div {
    font-size: 1em;
  }
}
.sign-in-med {
  display: flex;
  justify-content: center;
  margin-right: 3em;
  img {
    margin-right: 5em;
  }
}
.material-icons {
  font-size: 8em;
}
