
<script src="https://apis.google.com/js/platform.js" async defer></script>

  <ion-card class="main-container" >

                
                        <div class="landing-container">
                                <div class="title">Productive > Busy</div>
                                
                                <div class="bg">

                                </div>
                               
                                <div class="content">
                               
                                 <ngx-spinner></ngx-spinner>

                                     <div class="sign-in">
                                      <img src="../../assets/images/signin-button-dark.png" (click)="signIn()">
                                    </div>
                                  
                                </div>
                             
                                  
                             
                        
                          </div>
    
    
              
    

  </ion-card>












