.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.parent-entry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.submit {
  background-color: #2b2525;
  color: whitesmoke;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.decision-buttons {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

ion-range {
  width: 80%;
}

form {
  margin-bottom: 10em;
}

.high {
  color: red;
  font-size: 1.4em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.med {
  color: rgb(255, 136, 0);
  font-size: 1.2em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.low {
  color: rgb(248, 195, 19);
  font-size: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

ion-item {
  display: flex;
  justify-self: center;
}

.label-prompt {
  margin-top: 2em;
  margin-left: 0.5em;
}

.input-sufix {
  margin-left: 2em;
}
