        <!-- (chartHover)="chartHovered($event)" 
           (chartClick)="chartClicked($event)" -->
           



<ion-content class="header-background" >
  <ion-segment  [(ngModel)]="type">
    <ion-segment-button class="main-segments" value="complete"  >
      <ion-label>Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button class="main-segments" value="incomplete" >
      <ion-label>Incomplete</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <ion-list>
      <ion-item *ngSwitchCase="'complete'">
  
          <ion-card  class="graph card-background" *ngIf="tasks.length > 0; else noComplete" >

            <ion-segment  [(ngModel)]="graphDate">
              <ion-segment-button class="secondary-segments" value="lastWeek"  >
                <ion-label>Last Week</ion-label>
              </ion-segment-button>
              <ion-segment-button class="secondary-segments" value="thisWeek" >
                <ion-label>This Week</ion-label>
              </ion-segment-button>
              <ion-segment-button class="secondary-segments" value="thisMonth" >
                <ion-label>This Month</ion-label>
              </ion-segment-button>
            </ion-segment>
            <ng-container [ngSwitch]="graphDate">
                <ng-container *ngSwitchCase="'lastWeek'">
                  <ion-card-content>
                    <canvas  
                      baseChart 
                      height="1600em"
                      width="1000em"
                      [data]="pieLastWeekCompleteChartData" 
                      [labels]="pieLastWeekCompleteLabels" 
                      [chartType]="pieChartType"
                      [legend]="true"
                    >
                  </canvas>
                </ion-card-content>
                </ng-container>
                <ng-container *ngSwitchCase="'thisWeek'">
                  <ion-card-content>
                    <canvas  
                      baseChart 
                      height="1600em"
                      width="1000em"
                      [data]="pieWeekCompleteChartData" 
                      [labels]="pieWeekCompleteLabels" 
                      [chartType]="pieChartType"
                      [legend]="true"
                    >
                  </canvas>
                </ion-card-content>
                </ng-container>

                <ng-container *ngSwitchCase="'thisMonth'">
                  <ion-card-content>
                    <canvas  
                      baseChart 
                      height="1600em"
                      width="1000em"
                      [data]="pieMonthCompleteChartData" 
                      [labels]="pieMonthCompleteLabels" 
                      [chartType]="pieChartType"
                      [legend]="true"
                    >
                  </canvas>
                </ion-card-content>
                </ng-container>
            </ng-container>

        </ion-card>
        <ng-template #noComplete> 
          <ion-card [style.margin-top.em]="4" class="card-background">
            <ion-card-content>
              <h2>Not Enough Data For This Metric</h2>
            </ion-card-content>
          </ion-card>
          
        </ng-template>
      </ion-item>

      <ion-item *ngSwitchCase="'incomplete'">
        <ion-card class="graph card-background" *ngIf="tasks.length > 0; else noInComplete" >
    
              
            <ion-segment  [(ngModel)]="graphDate">
              <ion-segment-button class="secondary-segments" value="lastWeek"  >
                <ion-label>Last Week</ion-label>
              </ion-segment-button>
              <ion-segment-button class="secondary-segments" value="thisWeek" >
                <ion-label>This Week</ion-label>
              </ion-segment-button>
              <ion-segment-button class="secondary-segments" value="thisMonth" >
                <ion-label>This Month</ion-label>
              </ion-segment-button>
            </ion-segment>
            
            
            <ng-container [ngSwitch]="graphDate">
              <ng-container *ngSwitchCase="'lastWeek'">
                  <ion-card-content>
                    <canvas  
                      baseChart 
                      height="1600em"
                      width="1000em"
                      [data]="pieLastWeekInCompleteChartData" 
                      [labels]="pieLastWeekInCompleteLabels" 
                      [chartType]="pieChartType"
                      [legend] ="true"
                    >
                  </canvas>
                </ion-card-content>
              </ng-container>
              <ng-container *ngSwitchCase="'thisWeek'">
                <ion-card-content>
                  <canvas  
                    baseChart 
                    height="1600em"
                    width="1000em"
                    [data]="pieWeekInCompleteChartData" 
                    [labels]="pieWeekInCompleteLabels" 
                    [chartType]="pieChartType"
                    [legend] ="true"
                  >
                </canvas>
              </ion-card-content>
              </ng-container>
              <ng-container *ngSwitchCase="'thisMonth'">
                <ion-card-content>
                  <canvas  
                    baseChart 
                    height="1600em"
                    width="1000em"
                    [data]="pieMonthInCompleteChartData" 
                    [labels]="pieMonthInCompleteLabels" 
                    [chartType]="pieChartType"
                    [legend] ="true"
                  >
                </canvas>
              </ion-card-content>
  
              </ng-container>
            </ng-container>
          
        </ion-card>
        <ng-template #noInComplete>
          <ion-card [style.margin-top.em]="4" class="card-background">
            <ion-card-content>
              <h2>Not Enough Data For This Metric</h2>
            </ion-card-content>
          </ion-card>
          
        </ng-template>
      </ion-item>
    </ion-list>
  </div>


</ion-content>