        <!-- (chartHover)="chartHovered($event)" 
           (chartClick)="chartClicked($event)" -->
           



<ion-content class="header-background" >
  <!-- <ion-segment  [(ngModel)]="type">
    <ion-segment-button class="main-segments" value="complete"  >
      <ion-label>Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button class="main-segments" value="incomplete" disabled>
      <ion-label>Incomplete - Coming Soon</ion-label>
    </ion-segment-button>
  </ion-segment> -->

  <div [ngSwitch]="type">
    <ion-list>
      <ion-item *ngSwitchCase="'complete'">
  
          <ion-card  class="graph card-background" *ngIf="tasks.length > 0; else noComplete" >

            <ion-segment  [(ngModel)]="graphDate">
              <ion-segment-button class="secondary-segments" value="lastWeek" [disabled]="!lastWeekMostImportantTask">
                <ion-label>Last Week</ion-label>
              </ion-segment-button>
              <ion-segment-button class="secondary-segments" value="thisWeek" [disabled]="!thisWeekMostImportantTask">
                <ion-label>This Week</ion-label>
              </ion-segment-button>
              <ion-segment-button class="secondary-segments" value="thisMonth" [disabled]="!thisMonthMostImportantTask">
                <ion-label>This Month</ion-label>
              </ion-segment-button>
            </ion-segment>
            <ng-container [ngSwitch]="graphDate">
                <ng-container *ngSwitchCase="'lastWeek'">
                    <ion-card-content>
                      <ion-list>
                        <ion-item *ngIf="lastWeekCompleteVariations.length > 0">
                          <ion-grid>
                            <ion-row>
                              <ion-col>
                                <h3 [style.color]="'#fc5603'">Most Completed Task Type</h3>
                                <h4>{{stringifyVariations(lastWeekCompleteVariations[lastWeekCompleteVariations.length-1].variant)}}</h4>
                                <h6> <h4>{{lastWeekCompleteVariations[lastWeekCompleteVariations.length-1].amount}} Completions</h4></h6>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                          <ion-grid>
                            <ion-row>
                              <ion-col>
                                <h3 [style.color] = "'#036bfc'">Least Completed Task Type</h3>
                                <h4>{{stringifyVariations(lastWeekCompleteVariations[0].variant)}}</h4>
                                <h6> <h4>{{lastWeekCompleteVariations[0].amount}} Completions</h4></h6>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        
                        </ion-item>
                        <ion-item *ngIf="lastWeekMostImportantTask">
                          <ion-grid>
                          <ion-row>
                            <ion-col><h2 >Top Task Completions</h2><br/></ion-col>
                          </ion-row>
                          <ion-row *ngIf="lastWeekMostImportantTask">
                            <ion-col>
                            <div >
                              Most Important: {{lastWeekMostImportantTask.title}}
                              <ul>
                                <li>Level: {{importanceDifficultyUrgencyConvert('importance',lastWeekMostImportantTask.priority)}}</li>
                                <li>Created: {{lastWeekMostImportantTask.createdDate}}</li>
                                <li>Completed: {{lastWeekMostImportantTask.completedDate}}</li>
                              </ul>
                            </div>
                            </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lastWeekMostUrgentTask">
                              <ion-col>
                                <div>
                                  Most Urgent: {{lastWeekMostUrgentTask.title}}
                                  <ul>
                                    <li>Level: {{importanceDifficultyUrgencyConvert('urgency', lastWeekMostUrgentTask.urgency)}}</li>
                                    <li>Created: {{lastWeekMostUrgentTask.createdDate}}</li>
                                    <li>Completed: {{lastWeekMostUrgentTask.completedDate}}</li>
                                  </ul>
                                </div>
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="lastWeekToughestTask">
                              <ion-col>
                                <div>
                                  Most Difficult: {{lastWeekToughestTask.title}}
                                  <ul>
                                    <li>Level: {{importanceDifficultyUrgencyConvert('difficulty', lastWeekToughestTask.difficulty)}}</li>
                                    <li>Created: {{lastWeekToughestTask.createdDate}}</li>
                                    <li>Completed: {{lastWeekToughestTask.completedDate}}</li>
                                  </ul>
                                </div>
                              </ion-col>
                            </ion-row>
                            </ion-grid>
                        </ion-item>
                        </ion-list>
                        <ion-list *ngIf="lastWeekCompletionTimes.length > 0">
                          <ion-item>
                            <div class="charts">Completion Time Ratio
                              <canvas  
                                baseChart 
                                height="1100em"
                                width="700em"
                                [data]="pieLastWeekCompleteChartData" 
                                [labels]="pieLastWeekCompleteLabels" 
                                [chartType]="pieChartType"
                                [legend]="true"
                            >
                            </canvas>
                          </div>
                          </ion-item>
                        </ion-list>
                  </ion-card-content>
                </ng-container>
                <ng-container *ngSwitchCase="'thisWeek'">
                  <ion-card-content>
                    <ion-list>
                      <ion-item *ngIf="thisWeekCompleteVariations.length > 0">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <h3 [style.color]="'#fc5603'">Most Completed Task Type</h3>
                              <h4>{{stringifyVariations(thisWeekCompleteVariations[thisWeekCompleteVariations.length-1].variant)}}</h4>
                              <h6> <h4>{{thisWeekCompleteVariations[thisWeekCompleteVariations.length-1].amount}} Completions</h4></h6>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <h3 [style.color] = "'#036bfc'">Least Completed Task Type</h3>
                              <h4>{{stringifyVariations(thisWeekCompleteVariations[0].variant)}}</h4>
                              <h6> <h4>{{thisWeekCompleteVariations[0].amount}} Completions</h4></h6>
                              </ion-col>
                            </ion-row>
                            </ion-grid>
                      </ion-item>
                      <ion-item *ngIf="thisWeekMostImportantTask">
                        <ion-grid>
                        <ion-row>
                          <ion-col><h2 >Top Task Completions</h2><br/></ion-col>
                        </ion-row>
                        <ion-row *ngIf="thisWeekMostImportantTask">
                          <ion-col>
                          <div >
                            Most Important: {{thisWeekMostImportantTask.title}}
                            <ul>
                              <li>Level: {{importanceDifficultyUrgencyConvert('importance',thisWeekMostImportantTask.priority)}}</li>
                              <li>Created: {{thisWeekMostImportantTask.createdDate}}</li>
                              <li>Completed: {{thisWeekMostImportantTask.completedDate}}</li>
                            </ul>
                          </div>
                          </ion-col>
                          </ion-row>
                          <ion-row *ngIf="thisWeekMostUrgentTask">
                            <ion-col>
                              <div *ngIf="thisWeekMostUrgentTask">
                                Most Urgent: {{thisWeekMostUrgentTask.title}}
                                <ul>
                                  <li>Level: {{importanceDifficultyUrgencyConvert('urgency', thisWeekMostUrgentTask.urgency)}}</li>
                                  <li>Created: {{thisWeekMostUrgentTask.createdDate}}</li>
                                  <li>Completed: {{thisWeekMostUrgentTask.completedDate}}</li>
                                </ul>
                              </div>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="thisWeekToughestTask">
                            <ion-col>
                              <div>
                                Most Difficult: {{thisWeekToughestTask.title}}
                                <ul>
                                  <li>Level: {{importanceDifficultyUrgencyConvert('difficulty', thisWeekToughestTask.difficulty)}}</li>
                                  <li>Created: {{thisWeekToughestTask.createdDate}}</li>
                                  <li>Completed: {{thisWeekToughestTask.completedDate}}</li>
                                </ul>
                              </div>
                            </ion-col>
                          </ion-row>
                          </ion-grid>
                      </ion-item>
                      </ion-list>
                      <ion-list *ngIf="thisWeekCompletionTimes.length > 0">
                        <ion-item>
                          <div class="charts">Completion Time Ratio
                            <canvas  
                              baseChart 
                              height="1100em"
                              width="700em"
                              [data]="pieWeekCompleteChartData" 
                              [labels]="pieWeekCompleteLabels" 
                              [chartType]="pieChartType"
                              [legend]="true"
                          >
                          </canvas>
                        </div>
                        </ion-item>
                      </ion-list>
                </ion-card-content>
                </ng-container>

                <ng-container *ngSwitchCase="'thisMonth'">
                  <ion-card-content>
                    <ion-list>
                      <ion-item *ngIf="thisMonthCompleteVariations.length > 0">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <h3 [style.color]="'#fc5603'">Most Completed Task Type</h3>
                              <h4>{{stringifyVariations(thisMonthCompleteVariations[thisMonthCompleteVariations.length-1].variant)}}</h4>
                              <h6> <h4>{{thisMonthCompleteVariations[thisMonthCompleteVariations.length-1].amount}} Completions</h4></h6>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <h3 [style.color] = "'#036bfc'">Least Completed Task Type</h3>
                              <h4>{{stringifyVariations(thisMonthCompleteVariations[0].variant)}}</h4>
                              <h6> <h4>{{thisMonthCompleteVariations[0].amount}} Completions</h4></h6>
                            </ion-col>
                            </ion-row>
                            </ion-grid>
                      </ion-item>
                      <ion-item *ngIf="thisMonthMostImportantTask">
                        <ion-grid>
                        <ion-row>
                          <ion-col><h2>Top Task Completions</h2><br/></ion-col>
                        </ion-row>
                        <ion-row *ngIf="thisMonthMostImportantTask">
                          <ion-col>
                          <div >
                            Most Important: {{thisMonthMostImportantTask.title}}
                            <ul>
                              <li>Level: {{importanceDifficultyUrgencyConvert('importance',thisMonthMostImportantTask.priority)}}</li>
                              <li>Created: {{thisMonthMostImportantTask.createdDate}}</li>
                              <li>Completed: {{thisMonthMostImportantTask.completedDate}}</li>
                            </ul>
                          </div>
                          </ion-col>
                          </ion-row>
                          <ion-row *ngIf="thisMonthMostUrgentTask">
                            <ion-col>
                              <div *ngIf="thisMonthMostUrgentTask">
                                Most Urgent: {{thisMonthMostUrgentTask.title}}
                                <ul>
                                  <li>Level: {{importanceDifficultyUrgencyConvert('urgency', thisMonthMostUrgentTask.urgency)}}</li>
                                  <li>Created: {{thisMonthMostUrgentTask.createdDate}}</li>
                                  <li>Completed: {{thisMonthMostUrgentTask.completedDate}}</li>
                                </ul>
                              </div>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="thisMonthToughestTask">
                            <ion-col>
                              <div>
                                Most Difficult: {{thisMonthToughestTask.title}}
                                <ul>
                                  <li>Level: {{importanceDifficultyUrgencyConvert('difficulty', thisMonthToughestTask.difficulty)}}</li>
                                  <li>Created: {{thisMonthToughestTask.createdDate}}</li>
                                  <li>Completed: {{thisMonthToughestTask.completedDate}}</li>
                                </ul>
                              </div>
                            </ion-col>
                          </ion-row>
                          </ion-grid>
                      </ion-item>
                        <ion-item *ngIf="thisMonthCompletionTimes.length > 0">
                          <div class="charts">Completion Time Ratio
                              <canvas  
                                baseChart 
                                height="1100em"
                                width="700em"
                                [data]="pieMonthCompleteChartData" 
                                [labels]="pieMonthCompleteLabels" 
                                [chartType]="pieChartType"
                                [legend]="true"
                            >
                            </canvas>
                          </div>
                        </ion-item>
                      </ion-list>
                </ion-card-content>
                </ng-container>
            </ng-container>

        </ion-card>
        <ng-template #noComplete> 
          <ion-card [style.margin-top.em]="4" class="card-background">
            <ion-card-content>
              <h2>Not Enough Data For This Metric</h2>
            </ion-card-content>
          </ion-card>
          
        </ng-template>
      </ion-item>

      <!-- <ion-item *ngSwitchCase="'incomplete'">
        <ion-card class="graph card-background">
         <ion-card class="graph card-background" *ngIf="tasks.length > 0; else noInComplete" >
          <ion-card-content>
            <h1>Updating Metrics - Feature Coming Soon</h1>
          </ion-card-content>
        
        
      </ion-card>               
            <ion-segment  [(ngModel)]="graphDate">
              <ion-segment-button class="secondary-segments" value="lastWeek"  [disabled]="!lastWeekMostImportantTask" >
                <ion-label>Last Week</ion-label>
              </ion-segment-button>
              <ion-segment-button class="secondary-segments" value="thisWeek" >
                <ion-label>This Week</ion-label>
              </ion-segment-button>
              <ion-segment-button class="secondary-segments" value="thisMonth" >
                <ion-label>This Month</ion-label>
              </ion-segment-button>
            </ion-segment>
            
            
            <ng-container [ngSwitch]="graphDate">
              <ng-container *ngSwitchCase="'lastWeek'">
                  <ion-card-content>
                    <h2>Completion Time Ratio</h2>
                    <canvas  
                      baseChart 
                      height="1600em"
                      width="1000em"
                      [data]="pieLastWeekInCompleteChartData" 
                      [labels]="pieLastWeekInCompleteLabels" 
                      [chartType]="pieChartType"
                      [legend] ="true"
                    >
                  </canvas>
                </ion-card-content>
              </ng-container>
              <ng-container *ngSwitchCase="'thisWeek'">
                <ion-card-content>
                  <h2>Completion Time Ratio</h2>
                  <canvas  
                    baseChart 
                    height="1600em"
                    width="1000em"
                    [data]="pieWeekInCompleteChartData" 
                    [labels]="pieWeekInCompleteLabels" 
                    [chartType]="pieChartType"
                    [legend] ="true"
                  >
                </canvas>
              </ion-card-content>
              </ng-container>
              <ng-container *ngSwitchCase="'thisMonth'">
                <ion-card-content>
                  <h2>Completion Time Ratio</h2>
                  <canvas  
                    baseChart 
                    height="1600em"
                    width="1000em"
                    [data]="pieMonthInCompleteChartData" 
                    [labels]="pieMonthInCompleteLabels" 
                    [chartType]="pieChartType"
                    [legend] ="true"
                  >
                </canvas>
              </ion-card-content>
  
              </ng-container>
            </ng-container>
          
        </ion-card>
        <ng-template #noInComplete>
          <ion-card [style.margin-top.em]="4" class="card-background">
            <ion-card-content>
              <h2>Not Enough Data For This Metric</h2>
            </ion-card-content>
          </ion-card>
          
        </ng-template>
      </ion-item> -->
    </ion-list>
  </div>


</ion-content>