<ion-content class="header-background">
  <div class="setting-buttons">
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button >
        <ion-icon class="glow" name="flash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
      <ion-fab-button class="add-button" (click)="addTask()" color="primary">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addGoal()" color="tertiary">
        <ion-icon name="flag-outline"></ion-icon>
      </ion-fab-button> 
        <ion-fab-button class="logout-button">
          <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
  
  
    </ion-fab>
  </div>

  
<ion-content class="header-background" >

    <mat-tab-group mat-align-tabs="center" >
        <mat-tab  label="Today">  
          <ion-content class="main-background">
  
              <ion-card class="card-style card-background"  *ngIf="tasksDay1.length > 0; else noTasks">
                <div class="tasks-buttons">
                  <ion-item class="columnHeaderChoiceSize" *ngIf="tags.length > 0 && tasks.length > 0; else noTags">
                    <ion-label>Filter by Tag</ion-label>
                    <ion-select [formControl]="tagOptions" (ionChange)=" filterTags()">
                      <ion-select-option *ngFor="let tag of tags" [value]="tag">{{tag}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ng-template #noTags>No Tags to Filter By Yet</ng-template>
                </div>
                <ion-card-content>
                    <app-task-container 
                      (editTaskEmitter) = "editTask($event)" 
                      (taskUpdate) = "updateAllTasks($event)" 
                      (deleteTask)="deleteTask($event)" 
                      (markedComplete) ="markTaskComplete($event)" 
                      [tasks] = "tasksDay1" 
                      (createdIdea)="createIdea($event)">
                    </app-task-container>
                </ion-card-content>
            </ion-card>
        
                <ng-template #noTasks>
                    <ion-card class="card-style card-background">
                      <ion-card-header>
                        <ion-card-title><h1>Hey, you need to get some things queued up!</h1></ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <div ion-card-avatar></div>
                      <img ion-card-image src="../../../assets/images/blanklist.jpg" alt="orange-clock">
                        <div>
                          <h3>Add some tasks, I know you have something you could be doing!</h3>
                        </div>
                      </ion-card-content>
                    </ion-card>
                  </ng-template> 
  
          </ion-content>

              
        </mat-tab>
          <mat-tab  label="Tomorrow" *ngIf="tasksDay2.length > 0">
          
            <ion-content >
                <ion-card class="card-style">
                    <div class="tasks-buttons">
                
                    <ion-item class="columnHeaderChoiceSize">
                      <ion-label>Filter by Tag</ion-label>
                      <ion-select [formControl]="tagOptions" (ionChange)=" filterTags()">
                        <ion-select-option *ngFor="let tag of tags" [value]="tag">{{tag}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    </div>
                    <ion-card-content>
                        <app-task-container 
                          *ngIf="tasksDay2" 
                          (editTaskEmitter) = "editTask($event)" 
                          (taskUpdate) = "updateAllTasks($event)" 
                          (deleteTask)="deleteTask($event)" 
                          (markedComplete) ="markTaskComplete($event)" 
                          [tasks] = "tasksDay2" (createdIdea)="createIdea($event)">
                      </app-task-container>
                    </ion-card-content>
                </ion-card>
              </ion-content>
            </mat-tab>
          <mat-tab  label="Day 3" *ngIf="tasksDay3.length > 0">
          
            <ion-content >
                <ion-card class="card-style">
                    <div class="tasks-buttons">
                      <ion-item class="columnHeaderChoiceSize">
                      <ion-label>Filter by Tag</ion-label>
                      <ion-select [formControl]="tagOptions" (ionChange)=" filterTags()">
                        <ion-select-option *ngFor="let tag of tags" [value]="tag">{{tag}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    </div>
                    <ion-card-content>
                        <app-task-container 
                          *ngIf="tasksDay3" 
                          (editTaskEmitter) = "editTask($event)" 
                          (taskUpdate) = "updateAllTasks($event)" 
                          (deleteTask)="deleteTask($event)" 
                          (markedComplete) ="markTaskComplete($event)" 
                          [tasks] = "tasksDay3" (createdIdea)="createIdea($event)">
                      </app-task-container>
                    </ion-card-content>
                </ion-card>
              </ion-content>
            </mat-tab>
          <mat-tab  label="Day 4" *ngIf="tasksDay4.length > 0">
          
            <ion-content >
                <ion-card class="card-style">
                    <div class="tasks-buttons">
          
                      <ion-item class="columnHeaderChoiceSize">
                      <ion-label>Filter by Tag</ion-label>
                      <ion-select [formControl]="tagOptions" (ionChange)=" filterTags()">
                        <ion-select-option *ngFor="let tag of tags" [value]="tag">{{tag}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    </div>
                    <ion-card-content>
                        <app-task-container 
                          *ngIf="tasksDay4" 
                          (editTaskEmitter) = "editTask($event)" 
                          (taskUpdate) = "updateAllTasks($event)" 
                          (deleteTask)="deleteTask($event)" 
                          (markedComplete) ="markTaskComplete($event)" 
                          [tasks] = "tasksDay4" (createdIdea)="createIdea($event)">
                      </app-task-container>
                    </ion-card-content>
                </ion-card>
              </ion-content>
            </mat-tab>
          <mat-tab  label="Day 5" *ngIf="tasksDay5.length > 0">
          
            <ion-content >
                <ion-card class="card-style">
                    <div class="tasks-buttons">
                  
                    <ion-item class="columnHeaderChoiceSize">
                    <ion-label>Filter by Tag</ion-label>
                    <ion-select [formControl]="tagOptions" (ionChange)=" filterTags()">
                        <ion-select-option *ngFor="let tag of tags" [value]="tag">{{tag}}</ion-select-option>
                    </ion-select>
                    </ion-item>
                    </div>
                    <ion-card-content>
                        <app-task-container 
                          *ngIf="tasksDay5" 
                          (editTaskEmitter) = "editTask($event)" 
                          (taskUpdate) = "updateAllTasks($event)" 
                          (deleteTask)="deleteTask($event)" 
                          (markedComplete) ="markTaskComplete($event)" 
                          [tasks] = "tasksDay5" (createdIdea)="createIdea($event)">
                      </app-task-container>
                    </ion-card-content>
                </ion-card>
              </ion-content>
            </mat-tab>
       
        <ion-fab>
  
      </ion-fab>
    </mat-tab-group>
</ion-content>


  



