.task-entry {
  width: "450px";
}

.no-task {
  width: auto;
  height: 50%;
}

ion-content {
  --ion-background-color: #f8f0ec;
}

ion-badge {
  width: auto;
  margin-left: 87%;
}

ion-ion {
  width: 2em;
  height: 2em;
}
