@import "../../../mixins";

@mixin center {
  width: 98%;
  margin:auto;
  height: 95vh;
  width: 100%;
}

.main-container {
  --ion-background-color: rgb(241, 210, 182);
  position: relative;
  @include center;

  &__action-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    width: 4rem;
    ion-icon {
      width: 1.5em;
      height: 1.5em;
    }
    ion-fab-button {
      width: 3em;
      height: 3em;
      margin-bottom: 1.5em;
    }

  }

  .task-add {
    position: absolute;
    top: .75rem;
    left: 36%;
    
     ion-icon {
       width: 2rem;
       height: 2rem;
       margin-right: .2rem;
     }
   }


  ion-fab-button {
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 1.5em;
  }

  ion-fab-list {
    margin-right: 3.5em;
    margin-bottom: 2em;
  }
}

.queue-content {

  @include center;

  &-main {
    
    background-color: rgb(163, 160, 157);
    height: auto;
    overflow-y: auto;

    @include center;

    &__card {
      @include center;
      background-color: rgb(245, 233, 220);
     

      .tasks-buttons {
        margin-left: 5em;
      }
    }

    .no-tasks {
      padding: 1rem;
      text-align: center;
      img {
        height: auto;
        width: auto;
      }
    }
  }
  .filter-select {
    font-size: 0.9em;
    color: rgb(207, 135, 0);
    margin-top: 0.5em;
  }


}

.task-entry {
  width: "450px";
}

.no-task {
  width: auto;
  height: 50%;
  padding: 1rem;
}

ion-content {
  --ion-background-color: #fff9f6;
}

ion-card-title {
  display: flex;
  justify-content: center;
}

ion-card-content {
  width: 98%;
  margin: auto;
}

.calendar-button {
  margin-top: .3rem;
  margin-left: 75%;

  img {
    width: 1rem;
  }
}


@include mat-forms;

.holder {
  padding: 1px;
}