.task-entry {
  width: "450px";
}

.no-task {
  width: auto;
  height: 50%;
}

ion-content {
  --ion-background-color: #f8f0ec;
}

ion-badge {
  width: auto;
  margin-left: 87%;
}

ion-ion {
  width: 2em;
  height: 2em;
}

ion-fab-button {
  width: 2.5em;
  height: 2.5em;
  margin-bottom: 1.5em;
}
ion-icon {
  width: 1em;
  height: 1em;
}

ion-fab-list {
  margin-right: 3.5em;
  margin-bottom: 2em;
}

.logout-button {
  margin-right: 15em;
}

.setting-buttons {
  margin: 4em 1em 0 2.7em;
  .add-button {
    margin-left: 1em;
  }
}
.main-background {
  --ion-background-color: rgb(163, 160, 157);
  height: 45em;
  overflow-y: auto;
}
.card-background {
  --ion-background-color: rgb(245, 233, 220);
    height: 80vh;
}

.header-background {
  --ion-background-color: rgb(85, 72, 60);
}

.filter-select {
  font-size: 0.9em;
  color: rgb(207, 135, 0);
  margin-top: 0.5em;
}


ion-card-title {
  display: flex;
  justify-content: center;
}