<ion-content class="header-background content-height">
  <div class="setting-buttons">
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button >
        <ion-icon name="flash-outline" class="glow"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
      <ion-fab-button class="add-button" (click)="addTask()" color="primary">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addGoal()" color="tertiary">
        <ion-icon name="flag-outline"></ion-icon>
      </ion-fab-button> 
        <ion-fab-button class="logout-button">
          <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
    <ion-card class="card-background">
      <ion-segment  [(ngModel)]="listType">
        <ion-segment-button class="main-segments" value="adhoc"  >
          <ion-label>Ad-hoc Tasks</ion-label>
        </ion-segment-button>
        <ion-segment-button class="main-segments" value="goalBased" [disabled]="goals.length === 0">
          <ion-label>Goal-based Tasks</ion-label>
        </ion-segment-button>
      </ion-segment>
        <ion-card-content>
            <ion-list>
              <ng-container [ngSwitch]="listType">
                <ng-container *ngSwitchCase="'goalBased'">
                    <ng-container *ngFor="let g of goalsHierarchy">
                        <ion-item-sliding >
                            <ion-item [ngClass]="{'goal-item': !g.completed, 'goal-item complete': g.completed}">
                                <span class="goal">Goal:</span>{{g.title}} 
                                <!-- <span class="percentage">{{percentageMilestonesComplete(g.milestones)}}</span> -->
                            </ion-item>
                            <ion-item-options>
                              <ion-item-option>
                                <ion-button (click)="editItem(g, 'goal')"><ion-icon name="create-outline"></ion-icon></ion-button>
                              </ion-item-option>
                              <ion-item-option>
                                <ion-button (click)="addMilestone(g)"><ion-icon name="flag-outline"></ion-icon></ion-button>
                              </ion-item-option>
                            </ion-item-options>
                            <ion-item-options side="start">
                              <ion-item-option side="start">
                                <ion-button (click)="deleteGoal(g)" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
                              </ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>
                        <ng-container *ngFor="let m of g.milestones">
                            <ion-item-sliding >
                                <ion-item [ngClass]="{'milestone-item': !m.completed, 'milestone-item complete': m.completed}">
                                    <span class="milestone">M:</span>{{m.title}} 
                                     <!-- <span class="percentage">{{percentageTasksComplete(g.m.tasks)}}</span> -->
                                </ion-item>
                                <ion-item-options>
                                  <ion-item-option>
                                    <ion-button (click)="editItem(m, 'goal')"><ion-icon name="create-outline"></ion-icon></ion-button>
                                  </ion-item-option>
                                </ion-item-options>
                                <ion-item-options side="start">
                                  <ion-item-option side="start">
                                    <ion-button (click)="deleteGoal(m)"><ion-icon name="trash-outline" color="danger"></ion-icon></ion-button>
                                  </ion-item-option>
                                  <ion-item-option>
                                    <ion-button (click)="addTask(m,g)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
                                  </ion-item-option>
                                </ion-item-options>
                        
                          </ion-item-sliding>
                          <ng-container *ngFor="let t of m.tasks">
                                <ion-item-sliding >
                                    <ion-item [ngClass]="{'task-item': !t.completed, 'task-item complete': t.completed}">
                                        <span class="task" >T:</span> {{t.title}} 
                                    </ion-item>
                                    <ion-item-options>
                                      <ion-item-option>
                                        <ion-button (click)="editItem(t, 'task')"><ion-icon name="create-outline"></ion-icon></ion-button>
                                      </ion-item-option>
                                    </ion-item-options>
                                      <ion-item-options side="start">
                                        <ion-item-option side="start">
                                          <ion-button (click)="deleteTask(t)" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
                                        </ion-item-option>
                                      </ion-item-options>
                            
                                    
                                </ion-item-sliding>
                          </ng-container>
                        </ng-container>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'adhoc'">
                    <ng-container *ngFor="let t of tasks">
                        <ion-item-sliding *ngIf="!t.completed; else complete">
                            <ion-item class="task-item">
                              {{t.title}}
                              <span class="task">{{t.day < 2 ? 'Today' : 'Day: '}}</span><span *ngIf="t.day > 1">{{t.day}}</span>
                            </ion-item>
                            <ion-item-options side="start">
                              <ion-item-option side="start">
                                <ion-button (click)="deleteTask(t)" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
                              </ion-item-option>
                            </ion-item-options>
                          
                              <ion-item-options>
                                <ion-item-option>
                                  <ion-button (click)="editItem(t, 'task')"><ion-icon name="create-outline"></ion-icon></ion-button>
                                </ion-item-option>
                              </ion-item-options>
                         </ion-item-sliding>
                            <ng-template #complete>
                              <ion-item-sliding>
                                <ion-item class="task-item complete">
                                  {{t.title}}
                                  <span class="task">{{t.completedDate}}</span>
                                </ion-item>
                                  <ion-item-options>
                                    <ion-button (click)="reopenTask(t)"><ion-icon name="arrow-undo-circle-outline"></ion-icon></ion-button>
                                  </ion-item-options>
                             </ion-item-sliding>
                           </ng-template>
                    </ng-container>
                  </ng-container>
                </ng-container>
              
                
            </ion-list>
        </ion-card-content>
    </ion-card>
  
    
</ion-content>
