<h2>Edit Task</h2>

   <br />

<form [formGroup]="taskForm" (ngSubmit)="submitTask()">

    <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="title"
           name="title"
    
        />
        <mat-label>Title</mat-label>
        <mat-error *ngIf='title.invalid'> Your title doesn't look right. </mat-error>
      </mat-form-field>
       <!-- <br />
       <mat-form-field>
         <input
           matInput
           type="text" 
           formControlName="day"
           name="day"
    
         />
         <mat-label>Day</mat-label>
         <mat-error *ngIf='day.invalid'> Your day doesn't look right. </mat-error>
       </mat-form-field><br /> -->
       <br />
       <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="description"
          name="description"
    
        />
        <mat-label>Description</mat-label>
        <mat-error *ngIf='description.invalid'> Your description doesn't look right. </mat-error>
      </mat-form-field><br />

      <mat-form-field>
       <input
         matInput
         type="text"
         formControlName="tag"
         name="tag"
   
       />
       <mat-label>Tag</mat-label>
       <mat-error *ngIf='tag.invalid'> Your tag doesn't look right. </mat-error>
     </mat-form-field><br />
    
      <mat-form-field>
        <input
          matInput
          type="number"
          formControlName="minutes"
          name="minutes"
    
        />
        <mat-label>Minutes</mat-label>
        <mat-error *ngIf='minutes.invalid'> Your minutes don't look right. </mat-error>
      </mat-form-field><br />
    
      <!-- <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="priority"
          name="priority"
    
        />
        <mat-label>Priority</mat-label>
        <mat-error *ngIf='priority.invalid'> Your priority doesn't look right. </mat-error>
      </mat-form-field><br /> -->

   
      <br/>
      <div class="parent-entry">
        <div>
          <h3>Priority</h3>   
          <mat-radio-group class="radio-group" formControlName="priority">
            <mat-radio-button class="radio-button" *ngFor="let prior of priorities" [value]="prior.number">
              {{prior.text}}
            </mat-radio-button>
          </mat-radio-group>
          <!-- <div class="slider">
            <ng5-slider *ngIf="priorityLevel" [(value)]="priorityLevel" [options]="priorityOptions"></ng5-slider>
          </div> -->
        </div>
          <div>
            <h3>Difficulty</h3>   
            <mat-radio-group class="radio-group" formControlName="difficulties">
              <mat-radio-button class="radio-button" *ngFor="let diff of difficulty" [value]="diff.number">
                {{diff.text}}
              </mat-radio-button>
            </mat-radio-group>
            <!-- <div class="slider">
              <ng5-slider *ngIf="difficultyLevel" [(value)]="difficultyLevel" [options]="involvementOptions"></ng5-slider>
            </div> -->
          </div>
          <div>
            <h3>Urgency</h3>   
            <mat-radio-group class="radio-group" formControlName="urgency">
              <mat-radio-button class="radio-button" *ngFor="let urg of urgencyLevels" [value]="urg.number">
                {{urg.text}}
              </mat-radio-button>
            </mat-radio-group>
            <!-- <div class="slider">
              <ng5-slider [(value)]="difficultyLevel" [options]="involvementOptions"></ng5-slider>
            </div> -->
          </div>
      </div>   
      <br/>
<!-- 
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="resource"
          name="resource"
    
        />
        <mat-label>Resource</mat-label>
        <mat-error *ngIf='resource.invalid'> Your resource doesn't look right. </mat-error>
      </mat-form-field><br /> -->
      <button mat-raised-button class="submit" type="submit">Submit</button>
</form>
   