<ion-content>

  <ion-list>
      <ion-item color="secondary" >
        <ion-label>Goal Title</ion-label>
        <ion-input type="text" [(ngModel)]="goalTitle" name="title"></ion-input>
        
      
        <!-- <mat-error *ngIf='title.invalid'> Your title doesn't look right. </mat-error> -->
    </ion-item>

    <ion-item color="secondary"  >
      <ion-label>Select Priority: </ion-label>
      <ion-select placeholder="Priority" [(ngModel)]="goalPriority">
        <ion-select-option *ngFor="let prior of priorities" [value]="prior.number">
          {{ prior.text }}
        </ion-select-option> 
      </ion-select>
  </ion-item>

  <ion-item color="secondary" >
    <ion-label>Select Difficulty: </ion-label>
    <ion-select placeholder="Difficulty"  [(ngModel)]="goalDifficulty">
      <ion-select-option *ngFor="let diff of difficulty" [value]="diff.number">
        {{diff.text}}
      </ion-select-option>
    </ion-select>

  </ion-item> 

  <ion-item color="secondary" >
    <ion-label>Urgency:</ion-label>
      <ion-select placeholder="Urgency"  [(ngModel)]="goalUrgency">
        <ion-select-option *ngFor="let urg of urgencyLevels" [value]="urg.number">
          {{ urg.text }}
        </ion-select-option> 
      </ion-select>
  </ion-item>
    
  
  <ion-item color="secondary"  >
    <ion-label>Categorize:</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="goalTag"
      name="goal-tag"

    >
    </ion-input>
  </ion-item>

  <ion-item color="secondary" id="goal-date">
    <ion-label>Deadline: </ion-label>
    <ion-input
      type="date"
      [(ngModel)]="goalDeadline"
      name="goal-deadline"

    >
    </ion-input>
  </ion-item>
</ion-list>


    <form [formGroup] = "goalForm">

      <div formArrayName="goalArray">
        <div *ngFor="let goal of goalArray.controls; let i=index" class="form-group">
            <div [formGroupName]="i" class="milestone-block">
              <ion-list>
                    <ion-item color="primary">
                      <ion-label>Milestone Title: </ion-label>
                      <ion-note slot="end" color="tertiary">M</ion-note>
                        <ion-input type="text" formControlName="title" name="title"></ion-input>
                      
                    </ion-item>
                    
                
                    <ion-item color="primary">
                      <ion-label>Select Priority: </ion-label>
                      <ion-note slot="end" color="tertiary">M</ion-note>
                        <ion-select placeholder="Priority" formControlName="priority">
                          <ion-select-option *ngFor="let prior of priorities" [value]="prior.number">
                            {{ prior.text }}
                          </ion-select-option> 
                        </ion-select>
                      
                    </ion-item>
          
                    <ion-item color="primary">
                      <ion-label>Select Difficulty: </ion-label>
                      <ion-note slot="end" color="tertiary">M</ion-note>
                      <ion-select placeholder="Difficulty" formControlName="difficulties">
                        <ion-select-option *ngFor="let diff of difficulty" [value]="diff.number">
                          {{diff.text}}
                        </ion-select-option>
                      </ion-select>
                    
                    </ion-item> 
          
                    <ion-item color="primary">
                      <ion-label>Select Urgency:</ion-label>
                      <ion-note slot="end" color="tertiary">M</ion-note>
                        <ion-select placeholder="Urgency" formControlName="urgency">
                          <ion-select-option *ngFor="let urg of urgencyLevels" [value]="urg.number">
                            {{ urg.text }}
                          </ion-select-option> 
                        </ion-select>
                      
                    </ion-item>
                    
            
                    <ion-item>
                      <span class="button-group">
                        <ion-fab slot="fixed">
                        <ion-fab-button type="button" color="accent" (click)="addGoalChild(goal, -1)">
                          <ion-icon name="add-circle-outline"></ion-icon>
                        </ion-fab-button>
                      </ion-fab>
                      <ion-fab slot="fixed">
                        <ion-fab-button *ngIf="i !== 0" type="button" color="warn" (click)="deleteGoal(i)">
                          <ion-icon name="backspace"></ion-icon>
                      </ion-fab-button>
                    </ion-fab >
                    </span>
                    </ion-item>
              </ion-list>
           
                
              
             
                <div formArrayName = "taskChildren">
                  <div *ngFor="let task of getTaskChildren(goal); index as j" class="form-group">
                    <div [formGroupName]="j" class="milestone-block">
              
                      <ion-item color="tertiary" >
                        <ion-label>Task Title: </ion-label>
                        <ion-note slot="end" color="tertiary">T</ion-note>
                          <ion-input type="text" formControlName="title" name="title"></ion-input>
                          <!-- <mat-error *ngIf='title.invalid'> Your title doesn't look right. </mat-error> -->
                      </ion-item>

                      <ion-item color="tertiary" >
                        <ion-label>Further Details: </ion-label>
                        <ion-note slot="end" color="tertiary">T</ion-note>
                        <ion-input type="text" formControlName="description" name="description"></ion-input>
                    </ion-item>
            
                      <ion-item color="tertiary">
                        <ion-label>Select Priority: </ion-label>
                        <ion-note slot="end" color="tertiary">T</ion-note>
                          <ion-select placeholder="Priority" formControlName="priority">
                            <ion-select-option *ngFor="let prior of priorities" [value]="prior.number">
                              {{ prior.text }}
                            </ion-select-option> 
                          </ion-select>
                      </ion-item>
                     
                      <ion-item color="tertiary">
                        <ion-label>Select Difficulty:</ion-label>
                        <ion-note slot="end" color="tertiary">T</ion-note>
                        <ion-select placeholder="Difficulty" formControlName="difficulties">
                          <ion-select-option *ngFor="let diff of difficulty" [value]="diff.number">
                            {{diff.text}}
                          </ion-select-option>
                        </ion-select>
                      </ion-item> 
                     
                      <ion-item color="tertiary">
                        <ion-label>Select Urgency:</ion-label>
                        <ion-note slot="end" color="tertiary">T</ion-note>
                          <ion-select  formControlName="urgency">
                            <ion-select-option *ngFor="let urg of urgencyLevels" [value]="urg.number">
                              {{ urg.text }}
                            </ion-select-option> 
                          </ion-select>
                        </ion-item>
                        <ion-item color="tertiary" >
                          <ion-label>Min.</ion-label>
                          <ion-note slot="end" color="tertiary">T</ion-note>
                          <ion-input
                           
                            type="number"
                            formControlName="minutes"
                            name="minutes"
                            
                      
                          >
                        </ion-input>
                      
                        </ion-item>
      
                        <span class="button-group">
                           <ion-fab slot="fixed">
                            <ion-fab-button type="button" color="accent" (click)="addGoalChild(goal, j)"><ion-icon name="add-circle-outline"></ion-icon></ion-fab-button>
                           </ion-fab>
                  
                           <ion-fab slot="fixed">
                            <ion-fab-button type="button" id="add-M" (click)="addTaskChild(task, j, getTaskChildren(goal))"><ion-icon name="flag-outline"></ion-icon></ion-fab-button>
                           </ion-fab>
                         
                           <ion-fab slot="fixed">
                            <ion-fab-button type="button" color="warn" (click)="deleteTask(goal,j)"><ion-icon name="backspace"></ion-icon></ion-fab-button>
                           </ion-fab>

                        </span>
                    </div>
                  </div>
                </div>
            </div>
            
        </div> 
      </div>  

    </form>

    <div id="submit-block">
      <ion-button type="submit" (click)="submitGoals()">Submit Goal</ion-button>
      <ion-button type="button" color="warn" (click)="cancel()">Cancel</ion-button>
    </div>
    
</ion-content>