.button-group {
  margin-top: auto;
  // padding-right: 1em;
  display: flex;
  justify-content: space-evenly;
  button {
    margin-left: 1em;
  }
  #add-goal-child {
    background-color: #ff9306;
    color: cornsilk;
  }
  #add-milestone {
    margin-right: 1em;
    background-color: #ff9306;

    color: black;
  }
}

#submit-block {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10em;
}

.milestone-block {
  ion-item {
    font-size: 1em;
  }
  margin-top: 1em;
}

.task-block {
  ion-item {
    font-size: 0.8em;
  }
  margin-top: 0.5em;
}

.no-edit-format {
  display: flex;
  flex-direction: row;
}

ion-fab-button {
  margin: 1em;
}

ion-badge {
  width: auto;
  margin: .3rem;
  padding: .4rem;
  ion-icon {
    margin: .2rem .2rem -.1rem auto;
  }
}

ion-select {
  font-size: 0.9em;
}

.not-focused {
  ion-input {
    font-size: 0.3em;
  }
}
