<ion-content>

  <ion-list>
      <ion-item >
        <ion-label>The Goal is to...</ion-label>
        <ion-input #goalTitleControl="ngModel" type="text" [(ngModel)]="goalTitle" name="title" maxlength="37" required></ion-input><br/>
        <mat-error 
          *ngIf="goalTitleControl.touched && goalTitleControl.errors?.required"
          >
          Goal title required.
        </mat-error>
        <mat-error 
          *ngIf="goalTitleControl.touched && goalTitleControl.errors?.maxlength"
          >
          Please choose a shorter title.
        </mat-error>
    </ion-item>

    <ion-item  >
      <ion-label>The Importance is: </ion-label>
      <ion-select placeholder="Priority" [(ngModel)]="goalPriority">
        <ion-select-option *ngFor="let prior of priorities" [value]="prior.number">
          {{ prior.text }}
        </ion-select-option> 
      </ion-select>
  </ion-item>

  <ion-item >
    <ion-label>The Difficulty Is: </ion-label>
    <ion-select placeholder="Difficulty"  [(ngModel)]="goalDifficulty">
      <ion-select-option *ngFor="let diff of difficulty" [value]="diff.number">
        {{diff.text}}
      </ion-select-option>
    </ion-select>

  </ion-item> 

  <ion-item >
    <ion-label>The Urgency is:</ion-label>
      <ion-select placeholder="Urgency"  [(ngModel)]="goalUrgency">
        <ion-select-option *ngFor="let urg of urgencyLevels" [value]="urg.number">
          {{ urg.text }}
        </ion-select-option> 
      </ion-select>
  </ion-item>
    
  
  <ion-item  >
    <ion-label>Categorize this as:</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="goalTag"
      name="goal-tag"

    >
    </ion-input>
  </ion-item>

  <ion-item id="goal-date">
    <ion-label>Get this done by: </ion-label>
    <ion-datetime
      displayFormat="MM-DD-YYYY" 
      [(ngModel)]="goalDeadline"
      name="goal-deadline"

    >
    </ion-datetime>
  </ion-item>
  <ion-item disabled = "{{goalTitle === ''}}" lines="none">   

    <ion-badge slot="end" id="add-M" color="dark" (click)="addMilestone()">
      <ion-icon name="flag-outline"></ion-icon>Milestone
    </ion-badge>

</ion-item>
</ion-list>


    <form [formGroup] = "goalForm">

      <div formArrayName="goalArray">
        <div *ngFor="let goal of goalArray.controls; let i=index" class="form-group">
            <div [formGroupName]="i" class="milestone-block" *ngIf="goalArray.controls[i].value.show">
              <ion-list >
                    <ion-item disabled = "{{goalTitle === ''}}">
                       <ion-note slot="start" color="tertiary">M</ion-note>
                      <ion-label>Milestone:</ion-label>
                        <ion-input type="text" formControlName="title" name="title" maxlength="37"></ion-input>
                        <mat-error 
                        *ngIf="goalArray.controls[i].hasError('required')"
                        >
                        Milestone title required.
                      </mat-error>
                      <mat-error 
                        *ngIf="goalArray.controls[i].hasError('maxLength')"
                        >
                        Please choose a shorter title.
                      </mat-error>
                    </ion-item>
                        
                    <ion-item disabled = "{{goalTitle === ''}}">
                       <ion-note slot="start" color="tertiary">M</ion-note>
                      <ion-label>The Importance is: </ion-label>
                        <ion-select placeholder="Priority" formControlName="priority">
                          <ion-select-option *ngFor="let prior of priorities" [value]="prior.number">
                            {{ prior.text }}
                          </ion-select-option> 
                        </ion-select>
                      
                    </ion-item>
          
                    <ion-item disabled = "{{goalTitle === ''}}">
                       <ion-note slot="start" color="tertiary">M</ion-note>
                      <ion-label>The Difficulty Is: </ion-label>
                      <ion-select placeholder="Difficulty" formControlName="difficulties">
                        <ion-select-option *ngFor="let diff of difficulty" [value]="diff.number">
                          {{diff.text}}
                        </ion-select-option>
                      </ion-select>
                    
                    </ion-item> 
          
                    <ion-item disabled = "{{goalTitle === ''}}">
                       <ion-note slot="start" color="tertiary">M</ion-note>
                      <ion-label>The Urgency is:</ion-label>
                        <ion-select placeholder="Urgency" formControlName="urgency">
                          <ion-select-option *ngFor="let urg of urgencyLevels" [value]="urg.number">
                            {{ urg.text }}
                          </ion-select-option> 
                        </ion-select>
                      
                    </ion-item>
                    
            
                    <ion-item disabled = "{{goalTitle === ''}}" lines="none">

                       
                        <ion-badge slot="end" color="primary" (click)="addGoalChild(goal, -1)">
                          <ion-icon name="add-circle-outline"></ion-icon>Task
                        </ion-badge>
                 
                      
                        <ion-badge slot="end" *ngIf="goalArray.controls.length > 0"  color="warn" (click)="deleteGoal(i)">
                          <ion-icon name="ban-outline"></ion-icon> 
                      </ion-badge>
               
                    
                      <ion-icon 
                        slot="end" 
                        *ngIf="goalArray.controls[i].value.title !== '' && goalArray.controls[i].value.show"
                        color="dark"  
                        (click)="goalArray.controls[i].value.show = !goalArray.controls[i].value.show"
                         name="eye-off-outline"
                         >
                        </ion-icon> 
                   
                
      
                    </ion-item>
              </ion-list>
         
                
              
               
                <div formArrayName = "taskChildren">
                  <div *ngFor="let task of getTaskChildren(goal); index as j" class="form-group">
                    <div [formGroupName]="j" class="milestone-block" *ngIf="getTaskChildren(goal)[j].value.show">
                      <ion-list >

                        <ion-item disabled = "{{goalArray.controls[i].value.title === '' || goalTitle === ''}}">
                          <ion-label>Task: </ion-label>
                          <ion-note slot="start" [style.margin-left.em]="'2'" color="secondary">T</ion-note>
                            <ion-input type="text" formControlName="title" name="title" maxlength="37"></ion-input>
                            <mat-error 
                            *ngIf="getTaskChildren(goal)[j].hasError('required')"
                            >
                            Goal title required.
                          </mat-error>
                          <mat-error 
                            *ngIf="getTaskChildren(goal)[j].hasError('maxLength')"
                            >
                            Please choose a shorter title.
                          </mat-error>
                        </ion-item>
  
                        <ion-item disabled = "{{goalArray.controls[i].value.title === '' || goalTitle === ''}}">
                          <ion-label>More Details: </ion-label>
                          <ion-note slot="start" [style.margin-left.em]="'2'" color="secondary">T</ion-note>
                          <ion-input type="text" formControlName="description" name="description"></ion-input>
                        </ion-item>
              
                        <ion-item disabled = "{{goalArray.controls[i].value.title === '' || goalTitle === ''}}">
                          <ion-label>The Importance is: </ion-label>
                          <ion-note slot="start" [style.margin-left.em]="'2'" color="secondary">T</ion-note>
                            <ion-select placeholder="Priority" formControlName="priority">
                              <ion-select-option *ngFor="let prior of priorities" [value]="prior.number">
                                {{ prior.text }}
                              </ion-select-option> 
                            </ion-select> 
                        </ion-item>
                       
                        <ion-item disabled = "{{goalArray.controls[i].value.title === '' || goalTitle === ''}}">
                          <ion-label>The Difficulty Is:</ion-label>
                          <ion-note slot="start" [style.margin-left.em]="'2'" color="secondary">T</ion-note>
                          <ion-select placeholder="Difficulty" formControlName="difficulties">
                            <ion-select-option *ngFor="let diff of difficulty" [value]="diff.number">
                              {{diff.text}}
                            </ion-select-option>
                          </ion-select>
                        </ion-item> 
                       
                        <ion-item disabled = "{{goalArray.controls[i].value.title === '' || goalTitle === ''}}">
                          <ion-label>The Urgency is:</ion-label>
                          <ion-note slot="start" [style.margin-left.em]="'2'" color="secondary">T</ion-note>
                            <ion-select  formControlName="urgency">
                              <ion-select-option *ngFor="let urg of urgencyLevels" [value]="urg.number">
                                {{ urg.text }}
                              </ion-select-option> 
                            </ion-select>
                        </ion-item>
                        <ion-item disabled = "{{goalArray.controls[i].value.title === '' || goalTitle === ''}}">
                            <ion-label>Duration (Min): </ion-label>
                            <ion-note slot="start" [style.margin-left.em]="'2'" color="secondary">T</ion-note>
                            <ion-input
                              type="number"
                              formControlName="minutes"
                              name="minutes"
                            >
                          </ion-input>
                        </ion-item>
                      </ion-list>
                    
                        <br/>
                        <ion-item class="button-group" disabled = "{{goalArray.controls[i].value.title === '' || goalTitle === ''}}" lines="none">
                           
                            <ion-badge slot="end" color="primary" (click)="addGoalChild(goal, j)">
                              <ion-icon name="add-circle-outline"></ion-icon>Task
                            </ion-badge>
                      

                            <ion-badge slot="end" id="add-M" color="dark" (click)="addMilestone(task, getTaskChildren(goal))">
                              <ion-icon name="flag-outline"></ion-icon>Milestone
                            </ion-badge>
                           
                            <ion-badge slot="end" color="danger" (click)="deleteTask(goal,j)">
                              <ion-icon name="ban-outline"></ion-icon> 
                            </ion-badge>

                            <ion-icon
                              name="eye-off-outline"
                              *ngIf="getTaskChildren(goal)[j].value.title !== '' || getTaskChildren(goal)[j].value.show"
                              slot="end" 
                              color="dark" 
                              (click)="getTaskChildren(goal)[j].value.show = !getTaskChildren(goal)[j].value.show">
                            </ion-icon>
                      
                        </ion-item>
                    </div> 
                    <ng-container *ngIf="!getTaskChildren(goal)[j].value.show">
                      <div class="no-edit-format">
                        <ion-item lines="none">
                          <ion-grid>
                            <ion-row>
                              <ion-col [style.font-size.em]=".8"> 
                               
                               <b>Task #{{j+1}}: </b>&nbsp;&nbsp;{{getTaskChildren(goal)[j].value.title}}
                              </ion-col> 
                            </ion-row>
                            <ion-row>
                              <ion-col [style.font-size.em]=".8">{{importanceDifficultyFormat("urgency",getTaskChildren(goal)[j].value.urgency)}} <br/>Urgency</ion-col> 
                              <ion-col [style.font-size.em]=".8"> {{importanceDifficultyFormat("importance",getTaskChildren(goal)[j].value.priority)}} <br/>Priority</ion-col>
                              <ion-col [style.font-size.em]=".8"> {{importanceDifficultyFormat("difficulty",getTaskChildren(goal)[j].value.difficulties)}} <br/>Difficulty</ion-col>
                            </ion-row>
                          </ion-grid>

                        </ion-item>
                        <ion-item lines="none">

                              <ion-icon 
                                name="eye-outline"
                                slot="end"
                                *ngIf="goalArray.controls[i].value.title.value !== ''"
                                color="dark" 
                                (click)="getTaskChildren(goal)[j].value.show = !getTaskChildren(goal)[j].value.show"
                                ></ion-icon>
                   
                      
                        </ion-item>
                      </div>
                    </ng-container>
                  </div>
                </div>
            </div>
            <ng-container *ngIf="!goalArray.controls[i].value.show" >
              <div class="no-edit-format">
                <ion-item lines="none">
                  <ion-grid>
                    <ion-row>
                      <ion-col [style.font-size.em]=".8">
                        <ion-note slot="start" color="tertiary">M</ion-note>
                        <b>Milestone #{{i+1}}: </b>&nbsp;&nbsp; {{goalArray.controls[i].value.title}}
                        </ion-col> 
                    </ion-row>
                    <ion-row>
                      <ion-col [style.font-size.em]=".8">{{importanceDifficultyFormat("urgency",goalArray.controls[i].value.urgency)}} <br/>Urgency</ion-col> 
                      <ion-col [style.font-size.em]=".8"> {{importanceDifficultyFormat("importance",goalArray.controls[i].value.priority)}} <br/>Priority</ion-col>
                      <ion-col [style.font-size.em]=".8"> {{importanceDifficultyFormat("difficulty",goalArray.controls[i].value.difficulties)}} <br/>Difficulty</ion-col>
                    </ion-row>
                  </ion-grid>
                 
                </ion-item>
              
                <ion-item lines="none">
                  
                    <ion-icon 
                      name="eye-outline"
                      slot="end" 
                      color="dark" 
                      (click)="goalArray.controls[i].value.show = !goalArray.controls[i].value.show">
                    </ion-icon>
              
                </ion-item>
              </div>
            </ng-container>
        </div> 
      </div>  

    </form>

    <div id="submit-block">
      <ion-button type="submit" (click)="submitGoals()" disabled = "{{goalForm.invalid}}">Submit Goal</ion-button>
      <ion-button  color="danger" (click)="cancel()">Cancel</ion-button>
    </div>
    
</ion-content>