
  <ion-card>
    <ion-card-header>
      <ion-card-title>Settings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
                <form [formGroup]="settingsForm" (ngSubmit)="submitSettings()">
                  <div class="setting-choices">
                    <mat-form-field  >
                      <mat-label>Work Hrs. per Day:</mat-label>
                      <input 
                        matInput 
                        formControlName="hours"
                        type="number"
                       >
                   </mat-form-field>
                  </div>
                  <mat-error *ngIf='!hours.valid && (hours.dirty || hours.touched)'> Your hours don't look right.</mat-error>
      
                <br/>
        
          
              <div class="decision-buttons">
                <ion-button class="submit" type="submit" color="success" [disabled]="!settingsForm.valid">Submit</ion-button>
                <ion-button  type=ion-button (click)="cancel()" color="danger">Cancel</ion-button>
              </div>
            </form>
    </ion-card-content>
  </ion-card>
