
  <form [formGroup]="settingsForm" (ngSubmit)="submitSettings()">
    <ion-list>
      <ion-item>
        <ion-label slot="start">Hours to Work per Day:</ion-label>
        <ion-input
          type="number"
          formControlName="hours"
          name="hours" 
        ></ion-input>
        <mat-error *ngIf='!hours.valid && (hours.dirty || hours.touched)'> Your hours don't look right.</mat-error>
      </ion-item>
      <br/>
    </ion-list>

    <div class="decision-buttons">
      <ion-button class="submit" type="submit" color="success" [disabled]="!settingsForm.valid">Submit</ion-button>
      <ion-button  type=ion-button (click)="cancel()" color="danger">Cancel</ion-button>
    </div>
  </form>
