@import "../../../../mixins";




    ion-card  {
        @include center;
        background-color: rgb(245, 233, 220);
        display: block;
        padding: 1rem;


        
        
      }

ion-content {
  height: auto;
    ion-card  {
        @include center;
        background-color: rgb(245, 233, 220);
        display: flex;
        justify-content: center;

        button {
          margin: auto;
        }
    

      .decision-buttons {
        margin-top: 1em;
        display: flex;
        justify-content: space-evenly;
      }
      

      
      form {
        .setting-choices {
          margin-top: 2rem;
         
         
        }
  
      }
  }
}

@include mat-forms;