.title-icon {
  display: flex;
  justify-content: space-between;
}

.skip {
  width: 20rem;
  margin: auto;
  
 
}

ion-slides {
  padding: 0;
  height: auto;
  margin: auto;

  img {
   border:10px outset rgb(251, 200, 104);
   border-radius: 2%;
   border-width: 1rem;
  }

}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  margin-top: 1rem;
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}



p {
  text-align: left;
  margin: 0.5rem;
}

ion-icon {
  margin-bottom: 1rem;
}

.skip-promo {
  color: coral;
  margin: 4rem 0;
  text-transform: uppercase;
}

.welcome {
  font-size: 1rem;
  text-align: justify;
  display: flex;
  justify-content: center;
  margin: 1rem;

  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}


a {
  text-decoration: none;
}
