@import "../../../mixins";

.title-icon {
  display: flex;
  justify-content: space-between;
}

.skip {
  width: 20rem;
  margin: auto;
  
 
}

ion-slides {
  width: 100%;
  ion-slide {
    width: 100vh;
  }

  @include fade-in;

  // padding: 2rem;
  height: auto;
  margin: auto;

  img {

  @include fade-in;

    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;

   border:10px outset rgb(251, 200, 104);
   border-radius: 2%;
   border-width: 1rem;

   animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  margin-top: 1rem;
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}




ion-icon {
  margin-bottom: 1rem;
}

.skip-promo {
  color: coral;
  margin: 4rem 0;
  text-transform: uppercase;
}

.welcome {
  p {
    font-size: 1.1rem;
    text-align: justify;
    display: flex;
    justify-content: center;
    margin: 1rem;
  
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

}


a {
  text-decoration: none;
}
