
  <ion-content>
    <!-- <span [style.color]="'orange'">v3 - Keep the feedback coming!</span> -->
    <ion-grid>
      <ion-row>
          <ion-col 
  
            >
                <ion-slides pager="true" [options]="slideOptions">
                  <ion-slide>
                  <div >
                    <img src="../../../assets/images/youngladyphone.jpg"/>
                    <h2>Smarter and Sleek</h2>
                    <div class="welcome">
                      <p>
                        Hard to prioritize with just a 'To Do' list?
                        Try Queue-D!  We'll make sure you are accomplishing the most impactful tasks first!
                      </p>
                    </div>
  
                    <div (click)="start()"class="skip-promo">Skip</div>
                  </div>
                </ion-slide>
                <ion-slide>
                  <div>
                    <img src="../../../assets/images/busywomanphone.jpg"/>
                  
                      <h2>Create a task</h2>
            
                    <div class="welcome">
                      <p>
                        How URGENT is it?<br/>
                        How IMPORTANT is it?<br/>
                        How DIFFICULT is it?<br/>
                        Set the levels, and we'll organize it in a queue to make sure you 
                        are using your time and energy effectively.
                      </p>
                    </div>
                  
                    <div (click)="start()"class="skip-promo">Skip</div>
                    <!-- <a routerLink="/login" class="skip-promo">Skip</a> -->
                  </div>
                </ion-slide>
                <ion-slide>
                  <div>
                    <img src="../../../assets/images/happygirlphone.jpg"/>
                    <h2>Now all you have to do is focus on getting it done!</h2>
                    <div class="welcome">
                      <p>
                        The tasks will be prioritized for you!
                      If you don't get to a task by the end of the day, next day it will slightly increase in priority.
                      </p>
                    </div>
              
                    <span (click)="start()" class="skip-promo">Skip</span>
                    <!-- <a routerLink="/login" class="skip-promo">Skip</a> -->
                  </div>
                </ion-slide>
                <ion-slide>
                  <div>
                    <img src="../../../assets/images/strategywomen.jpg"/>
                    <h2>Create Goals for More Strategic Planning.</h2>
                    <div class="welcome">
                      <p>
                        Reverse engineer your goals by breaking them down to milestones, then tasks.
                      </p>
                    </div>
                 
                    <div (click)="start()"class="skip-promo">Skip</div>
                    <!-- <a routerLink="/login" class="skip-promo">Skip</a> -->
                  </div>
                </ion-slide>
                <ion-slide>
                  <div>
                    <img src="../../../assets/images/viewmetrics.jpg"/>
                    <h2>Check Your Metrics.</h2>
                    <div class="welcome">
                      <p>
                        Measure your progress, see where you can improve!
                      </p>
                    </div>
                 
                    <!-- <a routerLink="/login" class="skip-promo">Skip</a> -->
                    <span (click)="start()"class="skip-promo">Skip</span>
                  </div>
                </ion-slide>
                <ion-slide>
                  <div>
                    <img src="../../../assets/images/domore.jpg"/>
                    <h2>Be safe and productive my Friends!</h2>
                    <div class="welcome">
                      <p>Check out more resources below and press 'Get Started!'</p>
                    </div>
            
                    <span (click)="start()"class="skip-promo">Get Started!</span>
                    <!-- <a routerLink="/login" class="skip-promo">Get Started!</a> -->
                </div>
                </ion-slide>
              </ion-slides>
          </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>
