
<ion-content  *ngIf="tasks && tasks.length > 0; else noTasks"> 
  <ion-item-sliding *ngFor="let task of tasks" class="task-item">
    <ion-item>
        <ion-card
            
            [ngClass]="classPriority(task.priority, task.difficulty, task.urgency, task.pastDue)"  
          
            [style.margin-top.em]=".1"
            [style.padding.em]="1"
            >
          <ion-card-header *ngIf="task.mileStoneTitle !== task.parentGoalTitle">
                <div class="goal-description-block">
                  <span class="goal">Goal:</span> {{task.parentGoalTitle}} 
                  <hr>
                  <span class="milestone">Milestone: </span>{{task.milestoneTitle }}
                </div>
                <mat-divider></mat-divider>
          </ion-card-header>
          <ion-card-content text-center>
                <ng-container >
      
                    <ion-list>
                  
                        <h2>{{task.title}}</h2>
                      
                
                
              
                      <ion-item class="details">
                      
                          <h3><b>Urgency</b>:</h3> &nbsp;<h4>{{importanceDifficultyFormat('urgency',task.urgency)}}</h4>
                      
                      </ion-item>
                      <ion-item class="details">
                      
                          <h3><b>Priority</b>:</h3> &nbsp;<h4>{{importanceDifficultyFormat('importance',task.priority)}}</h4>
                      
                      </ion-item>
                      <ion-item class="details">
                      
                          <h3><b>Difficulty</b>:</h3> &nbsp;<h4>{{importanceDifficultyFormat('difficulty',task.difficulty)}}</h4>
                      
                      </ion-item>
                      <ion-item class="details">
                      
                          <h3><b>Minutes</b>:</h3> &nbsp;<h4>{{task.minutes}}</h4>
                      
                      </ion-item>
                    </ion-list>
        
              </ng-container>
        
              <mat-divider></mat-divider>

  
      
    
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option >
        <ion-icon name="trash-outline" color="danger"  (click)="delete(task)"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option >
        <ion-icon name="checkbox-outline" (click)="markComplete(task)" color="success" ></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>

  
</ion-content>
<ng-template #noTasks>
  <ion-card class="no-task">
    <ion-card-header>
      <div ion-card-avatar></div>
      <ion-card-title>Hey, you need to get some things queued up!</ion-card-title>
    </ion-card-header>
    <img ion-card-image src="../../../assets/images/squareclock.png" alt="orange-clock">
    <ion-card-content>
      <p>
        Add some tasks, I know you have something you could be doing!
      </p>
    </ion-card-content>
  </ion-card>
</ng-template>


   
   
 