.scrolls {
  height: 80%;
  overflow-y: auto;
  padding-left: .8rem;
}

.task-item {

 width: 18rem;
 margin: auto;

  &-very-low {
    // background: #eb9ab0;
    background-image: linear-gradient(
      to bottom,
      rgb(247, 216, 189),
      rgb(250, 231, 215)
    );

    .details {
      font-size: 0.8em;
      font-weight: 400;
      line-height: 4em;
      color: rgba(0, 0, 0, 0.87);
      height: 3em;
      word-wrap: break-word;
    
    }
  }

  &-low {
    background: #f06f91;
    background-image: linear-gradient(
      to bottom,
      rgb(247, 201, 162),
      rgb(247, 216, 189)
    );
    height: 2.5em;
    .details {
      font-size: 0.8em;
      font-weight: 400;
      line-height: 4em;
      color: rgba(39, 18, 8, 0.87);
      height: 2.5em;
    }
  }
  
  &-medium {
    // background: #f34573;
    background-image: linear-gradient(
      to bottom,
      rgb(248, 166, 94),
      rgb(247, 201, 162)
    );
    height: 3em;
    .details {
      font-size: 1em;
      font-weight: 400;
      line-height: 4em;
      color: black;
      height: 3em;
    }
  }
  
  &-high {
    // background:  #fa2e64;
    background-image: linear-gradient(
      to bottom, 
      rgb(235, 121, 21), 
      rgb(248, 166, 94)
    );
    height: 3.2em;
    .details {
      font-size: 1.2em;
      font-weight: 200;
      line-height: 4em;
      color: black;
      height: 3.2em;
    }
    mat-panel-title {
      color: white;
      font-weight: 500;
      font-size: 1rem;
      text-transform: uppercase;
  }
  }
  
  &-very-high {
    // background: #ff1d58;
    background-image: linear-gradient(
      to bottom, 
      rgb(216, 68, 0), 
      rgb(241, 133, 38)
      );
    height: 3.5em;
    .details {
      font-size: 1.5em;
      line-height: 4em;
      font-weight: 200;
      color: black;
      height: 3.5em;
    }
    mat-panel-title {
      color: white;
      font-weight: 500;
      font-size: 1.6rem;
      text-transform: uppercase;
  }
  }

}




.task-description-header {
  //  margin-left: 42%;
  display: block;
}
.task-description {
  display: flex;
  justify-content: left;
  margin-bottom: 3em;
}

.task-content {
  padding: 0.3em 2em;
}
#panel-content_1 {
  display: flex;
  justify-content: space-between;
}
#panel-content-2 {
  display: flex;
  justify-content: flex-end;
}

.slide-indicators {
  display: flex;
  justify-content: space-between;
}

.slide-indicators-2 {
  display: flex;
  justify-content: flex-end;
}

ion-item-option {
  background-color: #f8f0ec;
  margin: 0;
  ion-icon {
    font-size: 3em;
    background: none;
  }
}

ion-item-sliding {
  margin-bottom: 0.7em;
  // border: solid;
  // border-width: 0.7em;
  // border: rgb(192, 128, 9);
}

.task-item {
  border: #6d3402;
  border-radius: 2%;
  width: 100%;

  ion-card {
    width: 100%;
  }

  .task-details-card {
    width: 100%;
  }
}

.edit-button {
  background-color: #fff685;
  margin: 0.4em;
  color: rgb(8, 8, 8);
  width: auto;
  cursor: zoom-in;
}

.close-button {
  background-color: #2b2525;
  margin: 0.4em;
  color: whitesmoke;
  width: auto;
  cursor: auto;
}

ion-icon {
  cursor: pointer;
}

ion-card {
  margin: auto;
  background: rgb(245, 242, 237);
  width: 100%;
  margin-bottom: 0.7em;
  border: solid;
  border-width: 0.7em;
  border: rgb(192, 128, 9);
  text-align: center;
}

ion-card.expanded-content {
  margin-top: 0.5em;
  background-color: #f8efe7;
  box-shadow: 1.5px 1.5px rgb(160, 160, 160);
  #panel-content {
    width: 100%;
  }
}

.example-headers-align .mat-expansion-panel,
.example-headers-align .mat-panel-description {
  flex-basis: 0;
}

.example-headers-align .mat-panel-description {
  justify-content: space-evenly;
  align-items: center;
}
.mat-action-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mat-expansion-panel {
  height: 100%;
}

.goal-description-block {
  .goal {
    color: #ffa14f;
    font-size: 1.2em;
  }
  .milestone {
    color: #f3790e;
    font-size: 1em;
  }
}

.goal-title-block {
  font-size: 1.2em;
}

mat-list.list-horizontal {
  padding: 0;

  display: flex;
  justify-content: center;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  } 
}

.task-info {
  height: 20em;
}


ion-icon {
  background:transparent;
}

.no-task {
  padding:1rem;
}