html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: whitesmoke;
  .main {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    max-width: 1000px;
    margin: auto;
    margin-top: 3rem;
    color: black;
    font-size: 16px;
  }
}


ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  align-self: center;
}

* { 
  padding: 0;
  margin: 0;
}